html, body {
  background: #eee;
  font-family: 'Lato', sans-serif;
  height: 100%;
  padding: 1em;
}

.sort-icon {
    font-size: 9px;
    margin-left: 5px;
}

th {
	cursor:pointer;
}

.red {
  color: red;  
}

.green {
    color: green;
}

.right-inner-addon {
    position: relative;
    
    width: 200px;
}
.right-inner-addon input {
    padding-right: 30px;
    width: 170px; /* 200px - 30px */
}
.right-inner-addon img {
    position: absolute;
    right: -10px;
    padding: 10px 12px;
    pointer-events: none;
    
    top: -8px;
}

.icon_search{
    background:url(../img/search_icon.png) 0 0 no-repeat;
    top: 35px;
}


