<!doctype html>
<html lang="en" ng-app="CodeChallenge">
  <head>
    <meta charset="utf-8">
    <title>Angular SPA Code Challange CUBEYOU</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="stylesheet" type="text/css" href="css/angucomplete.css">
  </head>
  <body>
	<div role="main" class="container theme-showcase">
      <div class="" style="margin-top:90px;">
        <div class="col-lg-12">
			<div class="page-header">
				<h2 id="tables">Consumer interest data table</h2>
			</div>
			<div class="bs-component" ng-controller="listdata">
				<form class="form-inline has-feedback" >
                    
                   <h5>Autocomplete search example</h5>
                   <div class="padded-row">
                      <angucomplete id="ex1" placeholder="Search consumer interested in" pause="100" selectedobject="selectedElement" localdata="datalist" searchfields="name" titlefield="name" minlength="1" inputclass="form-control form-control-small" matchclass="highlight" />                    
                    </div>
                    <span class="icon_search form-control-feedback"></span>
                    
                    <div class="" ng-show="selectedElement">
                       <table class="table table-bordered table-hover">
                                <thead>
                                    <tr class="info">
                                        <th>ID</th>
                                        <th>NAME</th>
                                        <th style="text-align: center" >REACH</th>
                                        <th style="text-align: center" >TRENDS</th>
                                        <th></th>
                                    </tr>
                                </thead>
                              <tbody>
                                    <tr>
                                        <td>{{selectedElement.originalObject.id}}</td>
                                        <td>{{selectedElement.originalObject.name}}</td>
                                        <td style="text-align: center">{{selectedElement.originalObject.reach*100 | number:0}}%</td>
                                        <td ng-class="{red: selectedElement.originalObject.trends*100 < 0, green:selectedElement.originalObject.trends*100 > 0}" style="text-align: center">{{selectedElement.originalObject.trends*100 | number:0}}%</td>
                                         <td style="text-align: center"><span class="glyphicon glyphicon-remove-circle" style="color:red" ng-click="remove(selectedElement)"></span></td>
                                    </tr>
                                </tbody>
                            </table>
                    </div>
                    
                    <h5>Sample search with pagination example</h5>
					<div class="form-group" >

						<input type="text" ng-model="search" class="form-control" placeholder="Search">

					</div>
                    
				</form>
				<table class="table table-bordered table-hover">
					<thead>
						<tr class="info">
							<th ng-click="sort('id')">ID
								<span class="glyphicon sort-icon" ng-show="sortKey=='id'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
							</th>
							<th ng-click="sort('name')">NAME
								<span class="glyphicon sort-icon" ng-show="sortKey=='name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
							</th>
							<th style="text-align: center" ng-click="sort('reach')">REACH
								<span class="glyphicon sort-icon" ng-show="sortKey=='reach'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
							</th>
							<th style="text-align: center" ng-click="sort('trends')">TRENDS
								<span class="glyphicon sort-icon" ng-show="sortKey=='trends'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
							</th>
                            <th></th>
						</tr>
					</thead>
					<tbody>
						<tr dir-paginate="data in datalist|orderBy:sortKey:reverse|filter:search|itemsPerPage:3">
							<td>{{data.id}}</td>
							<td>{{data.name}}</td>
							<td style="text-align: center">{{data.reach*100 | number:0}}%</td>
							<td ng-class="{red: data.trends*100 < 0, green:data.trends*100 > 0}" style="text-align: center">{{data.trends*100 | number:0}}%</td>
                            <td style="text-align: center"><span class="glyphicon glyphicon-remove-circle" style="color:red" ng-click="remove(data)"></span></td>
						</tr>
					</tbody>
				</table>
                <div style="text-align: center">
                    <dir-pagination-controls
                        max-size="5"
                        direction-links="true"
                        boundary-links="true" >
                    </dir-pagination-controls>
                </div>  
			</div>
		</div>
      </div>
    </div>
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
		<script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
		<script src="components/dirPagination/dirPagination.js"></script>
		<script src="app.js"></script>
        <script src="components/angucomplete/angucomplete.js"></script>
  </body>
</html>
